body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: rgb(197, 255, 246);
    background-image: url(../Porshe.jpg);
    background-size: cover;
}
.heading{
    font-size: 50px;
    font-family: Impact;
    margin-top: 50px;
    text-align: center;
    color: rgb(120, 105, 255);
    
}
